@use "abstracts/variables" as *;

.app-button {
  display: block;
  padding: 1rem 3rem;
  width: fit-content;
  margin-left: auto;

  border: none;
  border-radius: $border-radius-small;

  font-size: $font-size-default;

  cursor: pointer;
  text-decoration: none;

  background-color: $color-button-background;
  color: $color-subtitle-dark;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    outline: 2px solid $color-focus-ring;
    outline-offset: 0.4rem;
  }

  @media screen and (max-width: #{$breakpoint-mobile}) {
    font-size: $font-size-small;
  }

  & svg {
    width: 18px;
    margin-right: $spacing-xsmall;
  }
}
