<div class="services-section fade">
  <app-terminal-section
    [customTitle]="'home-page.services-section.subtitle' | translate"
    customCommand="glow services.md"
    [shortTerminalLine]="true"
  >
    <app-title [title]="'home-page.services-section.subtitle' | translate" />

    <ul class="services-section__list">
      @for (
        service of "home-page.services-section.services" | translate;
        track service
      ) {
        <li class="services-section__item">{{ service }}</li>
      }
    </ul>

    <app-button route="/portfolio">
      {{ "home-page.services-section.button" | translate }}
    </app-button>
  </app-terminal-section>
</div>
