@use "abstracts/variables" as *;

.terminal-section {
  font-weight: 400;
  box-shadow: $box-shadow-default;
  border-radius: $border-radius-default;
  border: $border-default;
  padding: $spacing-big;
  background-color: $color-section-background-dark;

  &-container {
    margin: 0 auto;
    max-width: 150rem;
    width: 100%;
  }

  &__title {
    align-self: flex-start;
    font-size: $font-title-default;
    font-weight: $font-weight-bold;

    display: block;
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    margin-bottom: $spacing-medium;

    color: $color-title-dark;

    &::before {
      content: "# ";
    }
  }
}
