<div class="home-page">
  <home-intro
    [command]="'home-page.presentation-section.command' | translate"
  >
    @if (intro.contentVisible()) {
      <div class="home-presentation">
        <presentation-section />
      </div>
    }
  </home-intro>

  @if (intro.contentVisible()) {
    <div class="home-content" data-testid="home-content">
      <services-section />

      <tech-stack-section />

      <featured-projects-section />

      <contact-section />
    </div>
  }
</div>

@if (intro.contentVisible()) {
  <app-footer />
}
