<div class="education-section">
  <app-terminal-section
    [customTitle]="'about-page.education-section.title' | translate"
    customCommand="glow education.md"
    [shortTerminalLine]="true"
  >
    <div class="education-container">
      <app-title [title]="'about-page.education-section.title' | translate" />

      @for (
        degree of "about-page.education-section.degrees" | translate;
        track $index;
        let last = $last
      ) {
        <div class="education-container__item">
          <h3 class="education-container__title">{{ degree.title }}</h3>
          <p class="education-container__info">{{ degree.type }}</p>
          <p class="education-container__info">{{ degree.data }}</p>

        </div>

        @if (!last) {
          <div class="education-container__split">↑</div>
        }
      }
    </div>
  </app-terminal-section>
</div>
