<div class="presentation-section">
  <app-terminal-section customTitle="Who am I" [isFirstTitle]="true">
    <div class="fade">
      <p class="name">gustavo_monnerat</p>
      <p class="role">
        {{ "home-page.presentation-section.role" | translate }}
      </p>

      <p class="paragraph">
        {{ "home-page.presentation-section.about" | translate }}
      </p>

      <ul class="social-links">
        <li class="social-links__link">
          <a target="_blank" href="https://www.linkedin.com/in/gustavommcv/"
            >Linkedin</a
          >
        </li>

        <li class="social-links__link">
          <a target="_blank" href="https://github.com/gustavommcv">GitHub</a>
        </li>
      </ul>

      <app-button scrollTo="contact-section">
        {{ "home-page.presentation-section.contact" | translate }}
      </app-button>
    </div>
  </app-terminal-section>
</div>
