<div class="presentation-section">
  <app-terminal-section>
    <h1 slot="title">Who am I</h1>

    <div class="fade">
      <p class="name">gustavo_monnerat</p>
      <p class="role">Software Developer</p>

      <p class="paragraph">
        Full Stack Developer focused on creating modern and well-structured
        digital solutions, ensuring code quality, good practices and robust
        architecture.
      </p>

      <ul class="social-links">
        <li class="social-links__link">
          <a target="_blank" href="https://www.linkedin.com/in/gustavommcv/"
            >Linkedin</a
          >
        </li>

        <li class="social-links__link">
          <a target="_blank" href="https://github.com/gustavommcv">GitHub</a>
        </li>
      </ul>
    </div>
  </app-terminal-section>
</div>
