<div class="presentation-section">
  <app-terminal-section>
    <h1 slot="title">Who am I</h1>

    <p class="name">gustavo_monnerat</p>
    <p class="role">Software Developer</p>

    <p class="paragraph">
      Full Stack Developer focused on creating modern and well-structured
      digital solutions, ensuring code quality, good practices and robust
      architecture.
    </p>

    <ul class="social-links">
      <a
        class="social-links__link"
        target="_blank"
        href="https://www.linkedin.com/in/gustavommcv/"
        >Linkedin</a
      >

      <a
        class="social-links__link"
        target="_blank"
        href="https://github.com/gustavommcv"
        >GitHub</a
      >
    </ul>
  </app-terminal-section>
</div>
