@use "abstracts/variables" as *;

// TODO
// THEME

.role,
.name,
.paragraph,
.social-links {
  font-size: $font-size-default;

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}

.name {
  color: $color-text-dark;
}

.role {
  color: $color-subtitle-dark;
}

.paragraph {
  color: $color-text-dark;
  margin-top: $spacing-medium;
}

.social-links {
  margin-left: 5rem;
  margin-top: $spacing-medium;

  &__link {
    color: $color-external-link-dark;

    & a {
      text-decoration: none;
      color: $color-external-link-dark;

      &:hover {
        text-decoration: underline wavy;
      }
    }
  }

  @media screen and (max-width: 600px) {
    margin-left: $spacing-xbig;
  }
}
