@if (project) {
  <div class="project-detail-page">
    <app-terminal-section
      [customTitle]="project.id"
      [customCommand]="project.command || 'glow project.md'"
      [shortTerminalLine]="true"
      [isFirstTitle]="true"
      >
      <div class="project-detail-page__info">
        <img
          [src]="project.gif || project.image"
          [alt]="'projects-page.projects.' + project.id + '.title' | translate"
          class="project-detail-page__thumbnail"
          [class.project-gif]="project.gif"
          [attr.width]="project.gif ? 700 : 640"
          [attr.height]="project.gif ? 394 : 360"
          decoding="async"
          fetchpriority="high"
          />
        <div class="project-detail-page__description">
          <h2>
            {{ "projects-page.projects." + project.id + ".title" | translate }}
          </h2>
          <p>
            {{
            "projects-page.projects." + project.id + ".description" | translate
            }}
          </p>
          <div class="project-detail-page__links">
            @if (project.links.github) {
              <a
                [href]="project.links.github"
                target="_blank"
                rel="noopener noreferrer"
                class="project-link"
                >
                Repository
              </a>
            }
            @if (project.links.demo) {
              <a
                [href]="project.links.demo"
                target="_blank"
                rel="noopener noreferrer"
                class="project-link"
                >
                Live Demo
              </a>
            }
          </div>
        </div>
      </div>
    </app-terminal-section>
  </div>
}
