@use "abstracts/variables" as *;

.header-container {
  padding: 0 8rem;
  position: sticky;
  top: 0;
  z-index: $z-index-sticky-header;

  @media screen and (max-width: #{$breakpoint-tablet}) {
    padding: 0 1rem;
  }

  @media screen and (max-width: #{$breakpoint-mobile}) {
    padding: 0 0.5rem;
  }
}
