@use "abstracts/variables" as *;

.home-intro {
  min-block-size: calc(100svh - 8rem);
  padding: 2rem 8rem;

  @supports (height: 100dvh) {
    min-block-size: calc(100dvh - 8rem);
  }

  @media screen and (max-width: 750px) {
    padding: $spacing-medium $spacing-small;
  }

  @media screen and (max-width: 600px) {
    padding-inline: $spacing-xsmall;
  }
}
