<div class="home-intro" data-testid="home-intro">
  <app-terminal-section
    [customTitle]="title()"
    [isFirstTitle]="true"
    [customCommand]="commandToRender()"
    [accessibleCommand]="accessibleCommand()"
    [showCursor]="true"
    [cursorBlinkIntervalMs]="config.cursorBlinkIntervalMs"
  >
    <div terminalLayoutReservation class="home-intro__layout-reservation">
      <app-terminal-line
        [command]="layoutReservation().command"
        [showCursor]="true"
        [animateCursor]="false"
      />
      <presentation-section
        [content]="layoutReservation().presentation"
      />
    </div>

    <ng-content />
  </app-terminal-section>
</div>
