<div class="featured-projects-section fade">
  <app-terminal-section
    [customTitle]="'home-page.featured-projects-section.title' | translate"
    customCommand="glow f_projects.md"
    [shortTerminalLine]="true"
  >
    <div class="featured-projects-section__warning">
      {{ "home-page.featured-projects-section.warning" | translate }}
    </div>

    <div class="featured-projects-section__container">
      @for (project of projectsData; track project.id) {
        <project-card [project]="project"></project-card>
      }
    </div>
  </app-terminal-section>
</div>
