<div class="tech-stack-section">
  <app-terminal-section
    [customTitle]="'home-page.tech-stack-section.title' | translate"
    customCommand="glow stack.md"
    [shortTerminalLine]="true"
  >
    <app-title
      [title]="'home-page.tech-stack-section.title' | translate"
    />

    <ul class="tech-stack-section__list">
      <li class="tech-stack-section__item">Golang</li>
      <li class="tech-stack-section__item">
        Javascript<wbr />/TypeScript<wbr />/Angular
      </li>
      <li class="tech-stack-section__item">HTML<wbr />/CSS<wbr />/Sass</li>
      <li class="tech-stack-section__item">Linux</li>
      <li class="tech-stack-section__item">
        AWS<wbr />/Cloudflare<wbr />/Vercel
      </li>
      <li class="tech-stack-section__item">Arduino</li>
      <li class="tech-stack-section__item">
        Creo Parametric<wbr />/Bambu Studio
      </li>
      <li class="tech-stack-section__item">Claude</li>
    </ul>

    <picture class="tech-stack-section__image-container">
      <source media="(max-width: 1180px)" srcset="images/gopher-s.webp" />
      <img
        class="tech-stack-section__image"
        src="images/gopher-l.webp"
        alt="Go Gopher"
        width="371"
        height="263"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </app-terminal-section>
</div>
